# Игнорировать директорию venv
venv/

# Игнорировать файлы с настройками IDE
.idea/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать файлы кеша
__pycache__/

#Резервные файлы с символом
*~
